body {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #8e8e8e;
    margin: 0;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 700;
    color: #363636
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;

    overflow-x: hidden;
}

.small-container {
    max-width: 350px;
    /* min-width: 350px; */
    padding: 16px;
    border: 1px solid #979797;
    overflow-x: hidden;
}

.flex-box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 35px;
}

/* Header */
header {
    padding: 25px 0;
    text-align: center;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header-title {
    margin: 0;
    font-size: 6.4em;
    font-weight: 400;
}

.header-nav {
    display: flex;
    margin: 0;
    padding-right: 2.5em;
    list-style-type: none;
}

.header-nav li {
    margin-right: 35px;
    list-style-type: none;
}


.link {
    text-decoration: none;
    color: #8e8e8e;
}

/* Main */
main {
    margin: 0 auto 30px;
}

.menu {
    background-color: #363636;
    border-radius: 5px;
    margin-bottom: 2.1em;
}

.main-nav {
    display: flex;
    flex-wrap: nowrap;
    min-width: 570px;
}

.nav-menu {
    display: flex;
}

.nav-link {
    text-decoration: none;
    color: #f8f8f8;
    font-size: 14px;
    position: relative;

    padding: 20px;
}

.nav-link:hover {
    color: #8e8e8e;
    transition-duration: 0.3s;
}

.content {
    margin: 0 0 35px;
}

.content-title {
    font-size: 3.9em;
}

.content-text {
    color: #363636;
    margin: 0;
    padding: 1em 0 1.78em;
}

.images-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
}

.images-block li {
    position: relative;
}

.images-titles {
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    right: 50%;
    text-align: center;
}

.images-title {
    font-size: 3.5em;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 8px;
    /* letter-spacing: 1px; */
}

.images-sup-title {
    font-size: 1.2em;
    font-weight: 300;
    color: #ffffff;
}

.small-images-title {
    font-size: 2.5em;
}

/* .small-images-sup-title {
    font-size: 1.2em;
} */

.no-wrap {
    display: flex;
    flex-wrap: nowrap;
    gap: 7px;
    list-style-type: none;
}

.small-images {
    display: flex;
    justify-content: space-between;
    gap: 7px;
    list-style: none;
}

.picture {
    width: 100%;
}

/* События */
.events {
    max-width: 810px;
    width: 100%;
    min-width: 420px;
    padding: 16px;  /* new */
    border: 1px solid #8e8e8e;
}

.events-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 16px 0;
    list-style: none;
}

.events li {
    /* max-width: 360px;
    width: 100%; */
    width: 49%;
    margin-bottom: 50px;
}

.events-image {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.events-list li:first-child .events-image {
    background-image: url("../images/Tile-Big-01.png");
}

.events-list li:nth-child(2) .events-image {
    background-image: url("../images/Tile-Big-02.png");
}

.events-list li:nth-child(3) .events-image {
    background-image: url("../images/Tile-Big-03.png");
}

.events-list li:nth-child(4) .events-image {
    background-image: url("../images/Tile-Big-04.png");
}

.blue::after {
    display: block;
    content: "Обучение";
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 10px 5px;
    color:#000;
    /* font-size: 14px; */
    text-transform: uppercase;
    background-color: #458edb;
}

.green::after {
    display: block;
    content: "Уроки";
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 10px 5px;
    color:#000;
    /* font-size: 14px; */
    text-transform: uppercase;
    background-color: #5cc08e;
}

.pink::after {
    display: block;
    content: "Лекторы";
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 10px 5px;
    color:#000;
    /* font-size: 14px; */
    text-transform: uppercase;
    background-color: #c075b8;
}

.brown::after {
    display: block;
    content: "О программе";
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 10px 5px;
    color:#000;
    /* font-size: 14px; */
    text-transform: uppercase;
    background-color: #e1b16f;
}

.events-text {
    margin: 0;
    padding: 6px 0;
    font-weight: 500;
    font-size: 1.2em;
    color: #000
}

.btn {
    display: block;
    background-color: #5cbd5c;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    font-family: 'Roboto', 'Arial', sans-serif;
    cursor: pointer;
}

.btn:hover {
    background-color: #289e28;
    transition-duration: 0.3s;
}

.btn:focus {
    background-color: #289e28;
    outline-color: #227222;
    outline: 1;
}

.btn:active {
    background-color: #289e28 !important;
    border: 1px solid #227222;
}

.events-button {
    height: 66px;
    width: 220px;
    margin: 0 auto 45px;
}

/* Соц сети */
.social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* max-width: 350px;
    min-width: 350px; */
    width: 31%;
    margin: 0 0 0 auto;
}

.title {
    /* margin: 16px; */
    padding-bottom: 7px;
    position: relative;
    width: fit-content;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.28em;
    color: #000;
    border-bottom: 3px solid #000;
}

.title:after {
    content: '';
    display: block;
    width: 316px;
    border-bottom: 1px solid #8e8e8e;
    position: absolute;
    bottom: -2px;
    left: 0;
    z-index: -1;
}

.social-networks {
    margin: 45px 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-align: center;
}

.social-networks>li {
    width: 75px;
}

.social-text {
    /* font-size: 15px; */
}

.social-images {
    width: 45px;
    padding-bottom: 15px;
}

.social-users {
    margin: 50px 0 90px;
}

.social-users li {
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
}

.social-img {
    margin: auto 10px;
    position: relative;
    visibility: hidden;
    width: 67px;
    height: 67px;
}

.social-img-avatar {
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: visible;
}

.users-text {
    display: inline-block;
    margin: auto 5px;
}

.black-text {
    color: #000;
    font-weight: 500;
}

/* Video */
.video {
    background-color: #f4f4f4;
    padding: 18px 16px 50px;
    margin-bottom: 35px;
}

.lecture-list {
    display: flex;
    /* justify-content: space-between; */
    list-style-type: none;
    margin-top: 30px;
    /* overflow-x: scroll; */
    gap: 6px;

    width: fit-content;
    justify-content: flex-start;
}

.lecture-list-block {
    overflow-x: scroll;
}

.lecture-video {
    /* height: 200px;
    max-width: 300px;
    width: 100%; */

    width: 290px;
    height: 190px;
    /* margin-right: 6px; */

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.lecture-list li:first-child {
    background-image: url("../images/video-01.png");
}

.lecture-list li:nth-child(2) {
    background-image: url("../images/video-02.png");
}

.lecture-list li:nth-child(3) {
    background-image: url("../images/video-03.png");
}

.lecture-list li:nth-child(4) {
    background-image: url("../images/video-04.png");
}

/* News */
.article {
    display: flex;
    align-items: center;
    margin: 16px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #979797;
}

.article-img {
    margin-right: 15px;
}

.article-title {
    text-transform: uppercase;
    font-size: 1.28em;
    font-weight: 500;
    color: #000;
}

.article-text p {
   margin: 1px 0 8px;
   color: #686868;
}

.article-date {
    margin: 0;
    color: #7c7c7c;
}

/* Форма регистрации */
.form-group {
    margin: 16px 0;
}

.form-title {
    display: block;
    max-width: 200px;
    margin-bottom: 20px;
    color: #6b6b6b;
    font-weight: 500;
    font-family: inherit;
}

.input {
    max-width: 350px;
    width: 100%;
    margin-bottom: 20px;
    padding: 17px 20px 17px 10px;
    border: 1px solid #979797;
    border-radius: 5px;
    
    font-size: 1.1em;
    line-height: 20px;
    font-weight: 500;
    font-family: inherit;
    transition: background-color 0.15s, box-shadow 0.15s;
}

.input::placeholder {
    color: #6b6b6b;
    opacity: 0.6;
}

.input:hover {
    background-color: #f4f4f4;
    transition-duration: 0.15s;
}

.input:focus {
    background-color: #f4f4f4;
    border-color: #979797;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(158, 158, 158, 0.25);
}

.form-button {
    height: 50px;
    width: 120px;
    margin: 0 0 0 auto;
}

/* Footer */
.footer-text {
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #363636;
    color: #bfbfbf;
    padding: 50px 0;
}

@media (max-width: 768px) {
    body {
        font-size: 12px;
    }

    .flex-box {
        gap: 5px;
    }

    .header-menu {
        margin-bottom: 0;
    }

    .header-title {
        font-size: 6em;
    }

    .social-img {
        height: 55px;
    }

    .lecture-video {
        width: 220px;
        height: 150px;
    }

    .social-networks {
        /* gap: 5px; */
        justify-content: space-between;
        
    }

    .social-networks li {
        padding: 0;
    }

    .social-users {
        padding: 0 66px 0 0;
    }

    .social-img {
        height: 60px;
    }
}

@media (max-width: 680px) {
    .flex-box {
        flex-direction: column;
        align-items: center;
    }

    .small-container {
        max-width: 500px;
        width: 100%;
    }

    header {
        padding: 15px 0 0;
    }

    .main-line {
        overflow-x: scroll;
    }

    .main-nav {
        width: fit-content;
    }

    .social {
        max-width: 400px;
        width: 100%;
        margin: 0;
        gap: 5px;
    }

    .images-block {
        flex-direction: column;
    }

    .social-networks {
        /* gap: 5px; */
        justify-content: space-around;
        
    }

    .first {
        order: 1;
        margin-bottom: 20px;
    }

    .second {
        order: 2;
    }

    .events-button {
        margin-left: 0px;
        margin-bottom: 30px;
        height: 60px;
        width: 215px;
    }

}

@media (max-width: 425px) {
    body {
        font-size: 10px;
    }

    .events {
        min-width: 0px;
    }

    .events-list {
        flex-direction: column;
    }

    .events-list li {
        width: 100%;
    }
}
